---
import Social from './Social.astro'
---

<footer>
	<p>¡Más información sobre mis proyectos en mis Redes Sociales!</p>
	<Social
		platform='github'
		username='MikelFerreroBalcaza'
	/>
	<Social
		platform='twitter'
		username='MikelFerreroBalcaza'
	/>
	<Social
		platform='youtube'
		username='MikelFerreroBalcaza'
	/>
	<Social
		platform='intagram'
		username='MikelFerreroBalcaza'
	/>
	<Social
		platform='facebook'
		username='MikelFerreroBalcaza'
	/>
</footer>

<style>
    footer{
        display: flex;
        gap: 1rem;
        margin-top: 2rem;
    }
</style>
